@using AttendanceManagementSystem.Shared.Dtos.User
@model UserViewModel


<h2>All Users</h2>
<hr />

@if (TempData["Error"] != null)
{   
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error:</strong> @TempData["Error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error:</strong> @ViewBag.Error
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (ViewBag.Success != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> @ViewBag.Success
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> @TempData["Success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-primary" >Create New</a>
</p>

@if (Model.User.Any())
{
    <table class="table table-bordered table-hover mb-0 align-content-center ">

        <thead class="table-light">
                <tr>
                
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
            
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model.User)
            {
                    <tr>
                    <td style="display:none">@user.Id</td>
                    <td>  <span class="fw-bold ">@user.Name</span></td>
                        <td>@user.PhoneNumber</td>
                    <td >
                        <a asp-action="Update" class="btn btn-primary m-lg-2 " asp-route-id="@user.Id">Update</a>

                        <a asp-action="Delete" class="btn btn-danger m-lg-2 " asp-route-id="@user.Id">Delete</a>
                    </td>
                    </tr>
            }
            </tbody>
        </table>

    <div class="d-flex justify-content-end mt-4">
        <nav>
            <ul class="pagination pagination-lg mb-0">
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                        <a class="page-link"
                           asp-route-pageNumber="@i">@i</a>
                    </li>
                }
            </ul>
        </nav>
    </div>

}
else
{
        <p>No users found or unable to load users.</p>
}
